* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

li {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
img {
  border: none;
}
input[type='submit'],
input[type='text'] {
  -webkit-appearance: none;
}
input[type='submit'],
button {
  cursor: pointer;
}
input[type='submit']:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: 'apercu';
  src: url('../apercu/apercu-light-pro.woff2') format('woff2'),
    url('../apercu/apercu-light-pro.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('../../dist/apercu/apercu-light-italic-pro.woff2') format('woff2'),
    url('../../dist/apercu/apercu-light-italic-pro.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'apercu';
  src: url('../../dist/apercu/apercu-regular-pro.woff2') format('woff2'),
    url('../../dist/apercu/apercu-regular-pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('../../dist/apercu/apercu-medium-pro.woff2') format('woff2'),
    url('../../dist/apercu/apercu-medium-pro.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('../../dist/apercu/apercu-bold-pro.woff2') format('woff2'),
    url('../../dist/apercu/apercu-bold-pro.woff') format('woff');
  font-weight: 600;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('../../dist/apercu/apercu-black-pro.woff2') format('woff2'),
    url('../../dist/apercu/apercu-black-pro.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Main Styling */
body {
  margin: auto;
  font-family: 'apercu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $secondaryBg;
  background: $primaryBg;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $lightGreen;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: $secondaryBg;
  text-decoration: none;
}
strong {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 25px;
  font-weight: normal;
  line-height: 170%;
}
h1,
h2 {
  line-height: normal;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
p,
blockquote,
.p {
  margin-bottom: 25px;
  line-height: 170%;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea,
select,
button {
  font-family: 'apercu', sans-serif;
  font-size: 16px;
  color: $secondaryBg;
}
button {
  background-color: transparent;
  border: transparent;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 15px;
}
.cursor-pointer {
  cursor: pointer;
}
.img-circle {
  border-radius: 50%;
}
.img-block {
  display: block;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.text-black {
  color: $secondaryBg;
}
a.text-black:hover {
  color: $darkHover;
}
.text-color {
  color: $secondaryBg;
}
.text-green {
  color: $lightGreen;
}
.text-red {
  color: $red;
}
.text-purple {
  color: $purple;
}
.text-gray {
  color: $gray;
}
.text-gold {
  color: $gold;
}
.text-white {
  color: $plainWhite;
}
.text-blue {
  color: $blue;
}

.black {
  color: $secondaryBg;
}

.heading-underline {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 15px;
  text-align: center;
  line-height: normal;
  font-size: 19px;
  font-weight: 700;
}

.heading-underline.style-left {
  text-align: left;
}

.heading-underline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80px;
  height: 4px;
  transform: translateX(-50%);
  background-color: $secondaryBg;
}

.heading-underline.style-left:after {
  left: 0;
  transform: none;
}

.heading-large {
  font-size: 38px;
  font-weight: 800;
}

.heading-small {
  font-size: 19px;
  font-weight: bold;
}

.header-post {
  position: relative;
  padding-bottom: 50px;

  h1 {
    margin-bottom: 15px;
    font-weight: 800;
  }

  .row {
    margin-bottom: 15px;

    h1 {
      width: 700px;
      max-width: 100%;
      margin: 0 auto;
      font-size: 48px;
      font-weight: 800;
      line-height: 115%;
    }
  }

  .list-share-circles {
    float: none;
    padding-top: 8px;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  .info {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 170%;

    strong {
      font-weight: 600;
    }
  }
}

.horizontal-center {
  text-align: center;
}
.heading-x-large {
  font-size: 48px;
  font-weight: 800;
}

.heading-xx-medium {
  font-size: 32px;
  font-weight: bold;
}
.heading-medium {
  font-size: 21px;
  font-weight: bold;
}

figure {
  position: relative;
  display: inline-block;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

figure:after {
  content: '';
  display: block;
  clear: both;
}

.text-italic {
  font-style: italic;
}
.text-x-thin {
  font-weight: 100;
}
.text-thin {
  font-weight: 300;
}
.text-bold {
  font-weight: 500;
}
.text-x-bold {
  font-weight: 800;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-strikethrough {
  text-decoration: line-through;
}

@include mediaMd {
  .heading-x-large {
    font-size: 35px;
  }

  .header-post {
    padding-top: 50px;
  }
}
