/* light Theme */
$plainWhite: #fff;
$primaryBg: #f4f7f6;
$lightColor: #fcfcfc;
$span: #fdfdfd;
$inputBorder: #dbe0df;
$borderBtm: #e6eaea;
$lightHover: #bdc1c0;
$gray: #a6abab;
$toggleBg: #707070;
$darkHover: #64686a;
$secondaryBg: #202121;
$plainBlack: #000000;
$hmText: #9fd2d6;
$darkgreen: #42ab9e;
$lightGreen: #49c5b6;
$twitter: #25b6e6;
$purple: #6464e8;
$blue: #017eff;
$dotdText: #8154ef;
$facebook: #325595;
$red: #d14836;
$tooltipBorder: #ff4e4e;
$gold: #ae9b4f;
$motwText: #ff8601;
$linkText: #4a5c5c;

// Circle Colors
$design: #df6c4f;
$usability: #ecd06f;
$creativity: #3c948b;
$content: #1a99aa;
$mobile: #00fca3;

// count colors
$jobs: #9ceade;
$directory: #fef7c1;
